* {
    text-decoration: none;
}

/* Styling for the Header */

header {
    background-color: red;
    width: 100%;
    height: 100%;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 900;
    color: white;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
}

header nav ul {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 10px 10px;
}

header nav ul li a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: black;
    text-shadow: 2px 2px yellow;
}

/* Styling for the Container */

.container {
    width: 100%;
}

/* Styling for the article class in the Container */

.img-info {
    width: 100%;
}

.img-info h2 {
    padding: 5px 5px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: black;
    margin: 1px;
}

.img-info p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    line-height: 30px;
    margin: 2px;
}

/* Styling for the image */

.img-me {
    width: 100%;
    height: 100%;
}

/* Styling for the Footer */

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
}

/* Styling for Responsive Design */

@media only screen and (min-width: 768px) {
    .container {
        width: 600px;
        margin: 0 auto;
    }

    .img-info h2 {
        padding: 3px 0px 0px;
    }
    
    .img-info p {
        padding: 0px 0px 0px;
        font-size: 14px;
    }

    .img-me {
        padding-top: 30px;
    }
}

@media only screen and (min-width: 1000px) {
    header {
        padding-bottom: 20px;
    }

    .container {
        width: 1000px;
    }

    .img-info {
        width: 50%;
        float: right;
        height: 420px;
    }

    .img-info h2 {
        padding: 20px 0px 0px 30px;
        font-size: 40px;
    }

    .img-info p {
        padding: 20px 0px 0px 30px;
        height: 150px;
        font-size: 21px;
    }

    .img-me {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 400px;
        float: left;
    }

    footer {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 15px;
    }
}